<html>
    <head>
        <title>Website Title </title>
    </head>
    <body>
        <div id="the-whole-thing" style="position: relative; overflow: hidden;">
            <div id="leftThing" style="position: relative; width: 25%; float: left;">
               <img src="./imgs/logo.jpg" alt=""/>  
            </div>
            <div id="content" style="position: relative; width: 50%; float: left;">
                C4E - Coding Web !!!
            </div>
            <div id="rightThing" style="position: relative; width: 25%; float: left;">
                <img src = "./imgs/search.png" >
				<input id="Search" type ="text"> 	
            </div>
        </div>
    </body>
</html>