<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Assignment  6</title>
    <link rel="stylesheet" href="E:\AmThucSample\Du_lich\templates\Article_index.css"/>
	<style>p.outset {border-style: outset;}</style>
	<script src="E:\AmThucSample\Du_lich\templates\js/jquery-1.12.0.min.js"></script>
	<script src="E:\AmThucSample\Du_lich\templates/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header">
		<div class = "header_menu">
			<button class="header_menu_button">YOUR MENU</button>
			  <div class="header_menu-content">
				<a href="#">Ẩm thực đường phố</a>
				<a href="#">Ẩm thực truyền thống</a>
				<a href="#">Món ngon bốn phương</a>
			  </div>
		</div>
		<div class="header_logo">
			<img src="E:\AmThucSample\Du_lich\templates/imgs/logo.png" alt=""></img>
		</div>
		<div  class="header_slogan">
				<p>C4E.2 - Code for everyone</p>
		</div>
		<div class="header_search" id="abc">
				<img src="E:\AmThucSample\Du_lich\templates\imgs/search.png"/>
				<div class="header_search_frame">
					<input id="Search" type ="text"/>
				</div>
		</div>
	</div>
	<div class="banner">
		<img src="E:\AmThucSample\Du_lich\templates/imgs/mocchau1.jpg"/>
	</div>
	<div class="collection" >
		<div class="collection_1">
			<a> <font  font face="Palatino Linotype" color="#E0EEE0">Ẩm thực đường phố</font>  </a>
		</div>
		<div class="collection_2">
			<a> <font  font face="Palatino Linotype" color="#E0EEE0">Ẩm thực truyền thống</font>  </a>
		</div>
		<div class="collection_3">
			<a> <font  font face="Palatino Linotype" color="#E0EEE0">Món ngon bốn phương</font>  </a>
		</div>
	</div>
	{%  for Article in a_list %}
	<div class="article">
		<img class="side-img" src="E:\AmThucSample\Du_lich\templates\Chemocchau.jpg"><a href="http://127.0.0.1:5000/article/{{a_list.index(Article)}}"></a></img>
		<div class="side-text">
			<h3><a class= article-header href="http://127.0.0.1:5000/article/{{a_list.index(Article)}}">{{ Article.title }}
			</a></h3>
			<p> Không thể dùng từ đẹp để nói về cao nguyên Mộc Châu, mà phải dùng từ “tuyệt vời”! Một vùng đất hiền hòa, hiếu khách, đồi chè xanh, dải lụa trắng dệt từ hoa cải, chén rượu ngô và những bông hoa mận nở trắng rừng… </p>
		</div>
		<div class="clear-float"></div>
		<hr>
	</div>
    {% endfor %}
		<div class="footer">
		<div class="column1">
			<p> HOME </p>
			<ul>
				<div> MY COMPANY </div>
				<div> MY FAMILY </div>
				<div> MY GIRL-FRIEND </div>
			</ul>
		</div>
		<div class="column1">
			<p>ABOUT US</p>
			<ul>
				<div> CÔNG TY CỔ PHẦN ẨM THỰC C4E </div>
				<div> INFOMATION </div>
				<div> BANK ACCOUNT </div>
			</ul>
		</div>
		<div class="column1">
			<p>HELP</p>
			<ul>
				<div> Call: 0975.62.62.96 </div>
				<div>  SMS: 0128.728.75.74 </div>
				<div>  HẸN TRƯỚC: 0918.189.207 </div>
			</ul>
		</div>
		<div class="column4">
			<p>FOLLOW US</p>
			<ul>
				<a href="http://facebook.vn/p.k.quyen.anh"><img src="./imgs/facebook.png" ></img></a>
				<img src="./imgs/youtube.png"></img>
				<img src="./imgs/twitter.png"></img>
			</ul>
		</div>
	</div>
	<div class="my-company">
		<div class="my-company_name"> CÔNG TY CỔ PHẦN ẨM THỰC C4E </div>
		<p>© 2014 Condé Nast. All rights reserved.</p>
		<p>Use of this site constitutes acceptance of our User Agreement (effective 1/2/14) and Privacy Policy (effective 1/2/14).</p>
		<p>Your California Privacy Rights</p>
		<p>The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used, except with the prior written permission of Condé Nast.</p>
	</div>	
</body>
<html>
