<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment  6</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
	<style>p.outset {border-style: outset;}</style>
    <script src="{{ url_for('static', filename='./index.js') }}"></script>
</head>
<body>
	<div class="header">
		<div class = "header_menu">
			<!--<img src=></img>-->
			<input type="button" value = "Menu"></input>
		</div>
		<div class="header_logo">
			<img src="./imgs/logo.png" alt=""></img>
		</div>
		<div  class="header_slogan">
				<p>C4E.2 - Code for everyone</p>
		</div>
		<div class="header_search">
				<img src="./imgs/search.png"></img>
				<div class="header_search_frame">
					<input id="Search" type ="text"></input>
				</div>
		</div>
	</div>
	<div class="banner">
		<img src="./imgs/mocchau1.jpg"></img>
	</div>
	<div class="collection">
		<div class="collection_1">
			<p>DOMESTIC TOURISM(l)</p>
		</div>
		<div class="collection_2">
			<p>FOREIGN TOURISM (R)</p>		
		</div>
	</div>
	<div class="body_1">
		<div class="news">
			<div class="news_title">
				<div class="news_name">
					<p>Kinh nghiệm phượt Mộc Châu      <div>	Điểm hẹn Việt Nam</div> </p>
				</div>
				<div class="news_info">
					<p>Infomation</p>
					<ul>
						<li>Authors</li>
						<li>Time Post</li>
						<li>Source</li>
					</ul>
				</div>
			</div>	
			<div class="news_main">
					<div class="news_main_left">
						<div style="square" class="news_img">
							<img src="./imgs/review.jpg"></img>
						</div>
						<div style="square" class="news_content">
								<p>Không thể dùng từ đẹp để nói về cao nguyên Mộc Châu, mà phải dùng từ “tuyệt vời”! Một vùng đất hiền hòa, hiếu khách, đồi chè xanh, dải lụa trắng dệt từ hoa cải, chén rượu ngô và những bông hoa mận nở trắng rừng… tất cả những hình ảnh ấy sẽ in hằn trong kỹ ức của bất cứ kẽ lữ hành nào đến đây. Mộc Châu như một người thiếu nữ Tây Bắc, thân thiện, hiếu khách và mộc mạc với một tấm chân tình.

										Chuyến phượt Mộc Châu ấy chúng tôi may mắn vì có nhà họ hàng. Nhưng cũng vì thế mà tôi không rút ra được nhiều kinh nghiệm cho chuyến đi. Mãi tới gần đây, khi chủ động quay lại cao nguyên Mộc Châu. Tôi mới đi theo cách của riêng mình. Cảm nhận Mộc Châu qua góc nhìn khác.  Để rồi nhận ra, ở góc hình nào Mộc Châu vẫn thế. Vẫn đẹp. Vẫn nhẹ nhàng.

										Cách Hà Nội 200km, một chuyến đi phượt Mộc Châu 2 ngày 1 đêm là vừa đủ. Và trong bài viết này, tôi sẽ sẻ  với bạn những kinh nghiệm du lịch Mộc Châu đã tích lũy được.

										Đi Mộc Châu mùa nào đẹp nhất
								</p>
								<p>Mộc Châu vào những ngày đầu xuân (tết nguyên đán) những bông hoa mận, hoa đào bắt đầu nở. Ở Mộc Châu mận trồng thành những cánh đồng, có khi là phủ kín cả một bản làng. Nên khi mận ra hoa, không còn loài hoa nào dám đọ sắc nữa! Để ngắm được hoa mận, bạn nên đến Mộc Châu vào những ngày cuối năm và đầu năm mới.

										Trong chuyến đi Cột Mốc gần đây, tôi suýt nữa gặp trúng mùa mận. Lúc ấy chỉ vài bông mận ra hoa thôi mà cả cao nguyên Mộc Châu đã đẹp lắm rồi.

										Vào khoảng tháng 3, lúc cuối xuân hoa ban bắt đầu nở. Nhưng chỉ lác đác ở trên những quả đồi. Nếu muốn ngắm hoa ban bạn phải đi dọc lên khu vực gần thành phố Sơn La. Ở thị trấn hoa ban rất ít.

										Mùa Xuân qua. Những ngày hè nóng bức tới, Mộc Châu sẽ là một điểm đến tuyệt vời để bạn trốn chạy khỏi vùng nhiệt đồng bằng nhiệt độ cao. Cao nguyên Mộc Châu quanh năm mát mẻ. Có thể bạn tránh nóng ở đây qua cả mùa thu luôn.

										Đến tháng 10 – 12 những bông dã quỳ, hoa cải bắt đầu nở. Những bông cải trắng bạt ngàn, phủ trắng bao quả đồi. Cải như tấm thảm, như dải lụa đắp lên thân mình cô gái vùng cao. Đây có lẽ là mùa mọi người rủ nhau đi phượt Mộc Châu nhiều nhất. Và cứ thế, mùa du lịch Mộc Châu kéo từ tháng 10 tới tận tháng 1, tháng 2- khi những bông hoa đào, hoa mận nở.

										Trong tôi mùa nào Mộc Châu cũng đẹp. Với những bản làng, những người dân tộc anh em hiếu khách. Những tấm chân tình thì Mộc Châu luôn đẹp.
								</p>
						</div>
					</div>	
					<div class="news_main_right">	
						<div class="news_relate">
							<div class="news_relate_1">
									<div target="_blank" >
										<img src="./imgs/logo.png" alt=/"" ></img>
									 </div>
									<p>Kinh nghiệm đi chơi Mộc Châu</p>
							</div>
							<div class="news_relate_1">
								<div target="_blank" >
									<img src="./imgs/logo.png" alt=/"" ></img>
								 </div>
								<p>Nhà nghỉ Mộc Châu</p>
							</div>
							<div class="news_relate_1">
								<div>
									<img src="./imgs/logo.png" alt=/"" ></img>
								 </div>
									<p>Mộc Châu - Tình tứ với Gấu !!!</p>
							</div>				
						</div>
					</div>
			</div>			
		</div>
	</div>
	<div class="close_float">
	</div>
	<div>akjsfhjks</div>
</body>
</html>